{{ define "head_sub" }}
<head>
  <title>
    {{ .Title }}一覧|{{ .Site.Title }}
  </title>
  <!-- リストページ用cssの読み込み -->
  <link rel="stylesheet" href="{{ "css/list.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/md.css" | relURL }}">
{{ end }}

{{ define "main" }}
<div id="title" style="padding-top:70px;">
  <div class="col-xs-12">
      <h1>{{ .Title }}一覧</h1>
  </div>
</div>
{{ partial "breadcrumb.html" . }}

<div class="row">

  <div class="col-10 offset-1 col-md-7 offset-md-1">
    <h1>{{ .Title }}一覧</h1>
    {{ range (.Paginator 5).Pages }}

      <div class="card">
        <div class="box">
          <!-- イメージ画像 -->
          <a href="{{ .RelPermalink }}"><img  class="featured_images" src="{{ .Params.featured_images }}" onerror="this.src='{{ .Params.onerror }}';"/></a>
          
          <!-- コンテンツ -->
          <div class="content">
            <p>{{ .Date.Format "2006年01月02日" }}</p>
            <p class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            <p>
              {{ with .Params.categories }}
                {{ range . }} 
                  <a href="/categories/{{ . }}/">#{{ . }} </a>
                {{ end }}
              {{ end }}
              {{ with .Params.tags }}
                {{ range . }}
                  <a href="/tags/{{ . }}/">#{{ . }} </a>
                {{ end }}
              {{ end }}
            </p>
          </div>
        </div>
      </div>

    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>

  <div class="md col-10 offset-1 col-md-3 offset-md-0">
    {{ partial "tag_bar.html" . }}
  </div>

</div>
{{ end }}