

<section id="profile">
    <div class="com-container">
        <h2 class="com-heading">作成者</h2>
        <div class="profile-group clearfix">
            <div class="left-content">
                <div class="my-face"></div>
            </div>
            <div class="right-content">
                <h3 class="discription-title">モロッコ在住Mさん<br></h3>
                <p class="discription-text">モロッコ青年海外協力隊自治会長</p>
				<p class="discription-text">PCインストラクター兼陸上競技コーチ</p>
				<p class="discription-text">陶芸広報隊員兼初代スイカ割り担当隊員</p>
				<p class="discription-text">趣味は筋トレ</p>
				<p class="discription-text">隊員活動紹介記事 <a>https://www.jica.go.jp/volunteer/outline/publication/pamphlet/crossroad/202501/index.html</a></p>
            </div>
        </div>
    </div>
</section>

<!-- <div id="page_top"><a href="#"></a></div> -->
<a href="#" class="page_top_btn"></a>
<footer>
    <p class="copyright">Copyright © 2025 JICA volontaire Tous droits réservés.</p>
</footer>
