{{ define "main" }}
<div class ="main-container" style="padding-top:70px;">

	<section id="mv">
		<h1 class="mv-text">モロッコ</h1>
	</section>

	<section id="com-info">
		<div class="com-container">
			<h2 class="com-heading">概要</h2>
			</p>
 大体９月末は30度くらい。だいぶん涼しくなってるけど暑さに注意。<br>
      基本的にはモロッコではアラビア語・フランス語を話すが観光地は英語を話す人も多い<br>
      しかし英語でフレンドリーに話しかける人は大体ぼったくりや違法ガイドなど危険が多いので、<br>
      話しかけられても無視して付いていかずに立ち去ること推奨。<br>
      モロッコのお土産として人気なのはアルガンオイル、陶器、絨毯、刺繡など・・・<br>
      旅行のルート的にはカサブランカ開始が一番無難<br>
      帰りはカサブランカorマラケシュの空港のどちらか<br>
      とりあえずモロッコの観光サイトもついでに載せとく。<br>
      <a href="https://www.visitmorocco.com/fr" target="_blank">https://www.visitmorocco.com/fr</a>
		</div>
	</section>

</div>
{{ end }}